<div class="fill-in-the-blank">
  <div fxLayout="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
  >
    <mat-form-field>
      <input matInput placeholder="POR FAVOR LLENA EL ESPACIO EN BLANCO:" [formControl]="word" [errorStateMatcher]="matcher">
      <mat-error *ngIf="word.hasError('minlength') && !word.hasError('required')">
        Por favor escribe un palabra de tres o más letras
      </mat-error>
      <mat-error *ngIf="word.hasError('required')">
        Debe escribir algo
      </mat-error>
      <mat-error *ngIf="word.hasError('isWord') && !word.hasError('minlength') && !word.hasError('required')">
        Esto no parece una palabra
      </mat-error>
      <mat-error *ngIf="word.hasError('maxlength')">
        Please shorten your response
      </mat-error>
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!word.valid || completed"
    (click)="submitWord(word.value)"
  >
    Sigue
  </button>
</div>
